.login_form{
  background:linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)), url('../../../assets/background.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 56px - 40px);
  form{
    margin-bottom: 120px;
    width: 400px;

    >div:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .logo {
    
    width: 200px;
    margin-bottom: 40px;
    margin-right: 18px;
    margin-top: 40px;
  }
.login_footer {
  text-align: center;
  margin-top: auto;
  color: white;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
 
}
}

