@import './custom.scss';

html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

html,
body {
  background-color: #FFFEF2;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

#root {
  height: 100vh;
}
